body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #5500ff;
}

header {
    background: #222;
    color: white;
    text-align: center;
    padding: 30px;
}

nav {
    background: #333;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

section {
    padding: 30px;
    background: white;
    margin: 20px;
    border-radius: 8px;
}

.card {
    background: #eee;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
}

form input, form textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

button {
    background: #222;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
